*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root,
[data-bs-theme=light] {
  --bs-primary: #4B97F2;
  --bs-secondary: #C4D7EE;
  --bs-success: #75b540;

  --bs-primary-rgb:75, 151, 242;
  --bs-secondary-rgb: 196, 215, 238;
  --bs-success-rgb: 117, 181, 64;

}

.text-blue{
  color: #3f5f8a;
}

.custom-btn-primary{
  background-color: var(--bs-primary) !important;
  border: 0;
}
.custom-btn-secondary{
  background-color: var(--bs-secondary) !important;
  border: 0;
}

.fs-12{
  font-size: 12px;
}